[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
coverage = "*"
flake8 = "*"
pylint-common = "*"
pylint-django = "*"
pylint = "*"
django-coverage-plugin = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-test-plus = "*"
pytest-django = "*"

[packages]
python-slugify = "*"
redis = "*"
celery = "*"
django = "*"
django-redis = "*"
django-allauth = "*"
django-environ = "*"
django-crispy-forms = "*"
django-compressor = "*"
mysqlclient = "*"
django-contrib-comments = "*"
django-markdownx = "*"
channels = "*"
sorl-thumbnail = "*"
django-taggit = "*"
channels-redis = "*"
awesome-slugify = "*"
argon2-cffi = "*"
pillow = "*"
coverage = "*"
python3-openid = "*"
requests-oauthlib = "*"
requests = "*"
django-haystack = "==2.8.1"
elasticsearch = "==2.4.1"

[requires]
python_version = "3.7"
