[Unit]
Description=zanhu uWSGI service

[Service]
ExecStart=/usr/local/python3/bin/uwsgi --emperor /etc/uwsgi.d
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
